@charset "utf-8";
/*..............embedded fonts..............*/

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800&display=swap');
/*..............custom fonts..............*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');
/*..............common styles..............*/
body { margin: 0; padding: 0; font-family: 'Jost', sans-serif; font-size:18px; font-weight: 400; color:#000;}
h1, h2, h3, h4, h5, h6 { font-weight: 400; margin:0 0 20px; padding:0;font-family: 'Playfair Display', serif;
}
h1{ font-size:100px;}
h2{ font-size:50px;}
h3{ font-size:30px;}
h4{ font-size:20px;}
h5{ font-size:14px;}
h6{ font-size:12px;}
p{ font-size:18px; color: #101528; margin:0 0 20px; padding:0;font-family: 'Jost', sans-serif;}
img{ max-width: 100%;}
a, img{ border:0; text-decoration: none; outline: none;}
a, a:link, a:visited, a:focus, a:hover { color: #FB8951; outline: none; text-decoration: none; transition:all 0.3s ease 0s;}
a:hover{ text-decoration:none;}

input, textarea, select{ font-family: 'Jost', sans-serif; font-weight: 300; font-size: 16px; outline: none;}
input[type="submit"]{ font-family: 'Jost', sans-serif; font-weight: 400; font-size: 16px; transition:all 0.3s ease 0s; outline: none;}

/* --- for placeholder color --- */

.form-control::-moz-placeholder{color:#101528;opacity:1;}
.form-control:-ms-input-placeholder{color:#101528;}
.form-control::-webkit-input-placeholder{color:#101528;}

/* --- for placeholder color --- */

/* --- only use for wordpress (Image alignment) --- */
.alignleft , .alignnone{float:left; margin:0 15px 10px 0;}
.alignright{float:right; margin:0 0 10px 15px;}
.aligncenter{margin:10px auto; display:block;}
/* --- only use for wordpress (Image alignment) --- */

/* --- Button Styles --- */
.btn { border-radius: 0; display: inline-block; vertical-align: top; color: #fff; padding: 19px 65px; font-size: 18px; text-align: center;text-transform: uppercase;}
.btn.btn-white { background-color: transparent; color: #fff;border: 1px solid #fff; }
.btn.btn-black{border: 1px solid #000;color: #000;}
.btn.btn-org{background-color: #FB8951;color: #fff;}
/* --- Button Styles --- */


/* --- checkbox and radio button Styles --- */

.builder_radiobox ul li label{ font-weight: normal;}
.builder_radiobox ul li input[type="radio"]{ opacity: 0;}
.builder_radiobox ul li input[type="radio"]:empty ~ label{ position:relative; float:left; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; padding: 0 0 0 22px;}
.builder_radiobox ul li input[type="radio"]:empty ~ label:before{ position:absolute; display:block; top:2px; bottom:0; left:0; content:""; width:16px; height:16px; background:url(../images/radiobutton.png) left top no-repeat;}
.builder_radiobox ul li input[type="radio"]:checked ~ label:before{ background:url(../images/radiobutton.png) left bottom no-repeat;}

/* --- checkbox and radio button Styles --- */

.common-padd { padding-top: 100px; padding-bottom: 100px; }
.padding-top{padding-top: 100px;}
.padding-bottom{padding-bottom: 100px;}

.common-bg{background-repeat: no-repeat;background-size: cover;}
/*..............common styles..............*/

.click { display:none;}


/*for header css*/
.main-header { position: relative; padding: 0px 0px; z-index: 999; left: 0; right: 0; top: 0; background-color: #fff; }
.header-row { display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between;position: relative; }

.hdr-rt { display: flex; align-items: center; }
.hdr-rt-srch-cart ul { margin: 0; padding: 0; list-style: none; display: flex; align-items: center; }
.hdr-rt-srch-cart ul li { padding: 0 15px; }

.hdr-rt-log-reg ul {  margin: 0; padding: 0; list-style: none; display: flex; align-items: center; }
.hdr-rt-log-reg ul li { list-style: none; font-size: 18px; line-height: 1; font-weight: 400; text-transform: capitalize; border-right: 1px solid #fff; padding: 0 15px; }
.hdr-rt-log-reg ul li:last-child { padding-right: 0; border-right: 0; }
.hdr-rt-log-reg ul li a { color: #fff; }


.main-menu {  }
.main-menu ul { margin: 0; padding: 0; list-style: none; display: flex; flex-wrap: wrap; align-items: center;}
.main-menu ul li { list-style: none; font-size: 18px; font-weight: 400; text-transform: capitalize; margin-right: 30px;}
/*.main-menu ul li:not(:last-child) { margin-right: 40px; }*/
.main-menu ul li a { display: block; color: #000; padding: 8px 0; position: relative;}
.main-menu ul li:hover a, .main-menu ul li.current-menu-item a { color: #FB8951;}


.nav_btn { color: #000; font-size: 22px; text-align: right; display: none; }
.nav_close { display: none; color: #fff; }
.main-menu .hdr-rt-log-reg.mobile { display: none; }


.main-header.fixed { padding: 10px 0; left: 0; position: fixed; top: 0; width:100%; transition: all 0.5s; -ms-transition: all 0.5s; -webkit-transition: all 0.5s; animation: slide-down 0.7s; -ms-animation: slide-down 0.7s; -webkit-animation: slide-down 0.7s; box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);}

@keyframes slide-down { 

0% {transform: translateY(-100%); 
-moz-transform: translateY(-100%); 
-webkit-transform: translateY(-100%); 
-o-transform: translateY(-100%);
-ms-transform: translateY(-100%); } 
100% { 
transform: translateY(0); 
-moz-transform: translateY(0); 
-webkit-transform: translateY(0); 
-o-transform: translateY(0); 
-ms-transform: translateY(0); } 
}

/*for header css*/

.slider-wrap { position: relative;}


.for-mobile{display: none;}
.for-desktop ul { padding: 0; margin: 0; list-style: none; }
.for-desktop ul li { display: inline-block; padding-right: 16px; }
.for-desktop ul li:last-child{padding-right: 0px;}
.for-desktop ul li a { display: inline-block; }

.for-desktop ul li a img { width: 21px; height: 21px; object-fit: contain; }
.logo a { display: inline-block; width: 84px; height: 87px; margin: auto; }
.logo a img { width: 100%; }
.logo { width: 146px; height: 146px; background-color: #fff; display: flex; align-items: center; justify-content: center; border-radius: 50%; margin-bottom: -60px; }
.home-banner { position: relative; }
.home-banner::after{content: "";position: absolute;top: 0;bottom: 0;left: 0;right: 0;width: 100%;height: 100%;background-color: rgb(0 0 0 / 40%);}
.home-banner-img-wraper { position: relative; padding-bottom: 45%; }
.home-banner-img-wraper img { position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; object-fit: cover; }
.banner-text-wraper { position: absolute; top: 50%; left: 0; right: 0; margin: 0 auto; transform: translateY(-50%); z-index: 2; }
.banner-text-wraper h1 { max-width: 689px; margin-left: 0; color: #fff; margin-bottom: 50px;     text-transform: capitalize;}
.banner-text-wraper p { font-family: 'Playfair Display'; font-style: italic; font-weight: 400; font-size: 36px; margin-bottom: 50px; color: #FFFFFF; }
.main-header.fixed .logo { width: 90px; height: 90px; margin-bottom: 0; }
.main-header.fixed .logo a { width: 60px; height: 60px; }

/* our-story */
.our-story { background-color: rgb(255 244 232 / 90%); position: relative; }
.our-story::after{content: " "; position: absolute; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 100%; background-image: url(../images/bg-img.png); background-size: cover; background-repeat: no-repeat; z-index: -1;}
.our-story-second-img { width: 400px; margin-left: auto; object-fit: cover; }   
 .our-story-second-img img { width: 100%; }
.our-story-img-wraper { position: relative; }
 .our-story-logo { position: absolute; top: 20%; width: 160px; }
.our-story-logo img{width: 100%;}
.our-story-content { padding-left: 100px; }
.section-heading { margin-bottom: 40px; }

/* Charities */
.cha-col-sec { background: #FFFFFF; box-shadow: 0px 4px 52px rgba(165, 165, 165, 0.25); height: 100%; margin-right: 30px;position: relative; }
.cha-img-wraper { position: relative; padding-bottom: 70%; }
.cha-img-wraper img { position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; object-fit: cover; margin-left: 30px; margin-top: -30px; }
.cha-col-content { padding: 30px; padding-top: 0px; }
/* .cha-col-content p { overflow: hidden; height: 230px; margin-bottom: 0px; text-overflow: ellipsis; -webkit-line-clamp: 7; -webkit-box-orient: vertical; display: -webkit-box; max-width: 100%; } */
.cha-col-content p{padding-bottom: 50px;}
.cha-col-sec a.learn-more { position: absolute; bottom: 5%; font-weight: 500; text-decoration-line: underline; text-transform: uppercase; }
.section-heading p { max-width: 1000px; margin: auto;color: #101528; }
.Charities-sec .row { margin-top: 70px; }
.view-all-btn { text-align: center; margin-top: 64px; }

/* shop and donate */
.shop-donate-img-wraper { position: relative; padding-bottom: 100%; margin-bottom: 20px; }
.shop-donate-img-wraper img { position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; object-fit: cover; }
.shop-price {position: absolute;bottom: 0;background-color: #fff;text-transform: capitalize;color: #FB8951;padding: 10px 45px 10px 22px;font-size: 24px;font-family: 'Playfair Display', serif;font-weight: 700;}
.shop-donate-col-wrap a.btn.btn-org { width: 100%; }
.shop-content p{overflow: hidden; height: 300px; margin-bottom: 0px; text-overflow: ellipsis; -webkit-line-clamp: 7; -webkit-box-orient: vertical; display: -webkit-box; max-width: 100%;}
.shop-donate-col-wrap { height: 100%; position: relative; }
.shop-donate-col-wrap a.btn.btn-org { position: absolute; bottom: 0; }

/* Recent Sales */
.sales-content { max-width: 498px;position: relative;z-index: 2; }
.sales-content a.btn.btn-black { margin-top: 40px; }
.sales-sec{position: relative;}
.sales-sec::after{content: " ";position: absolute;left: 0;right: 0;top: 0;bottom: 0;width: 100%;height: 100%;background: linear-gradient(89.58deg, #FFFFFF 9.9%, rgba(255, 255, 255, 0) 48.55%); opacity: 0.8;}

/* our story page */
.our-story-main .our-story-content { padding-left: 50px; }
.Charities-sec .row .col-lg-4{ margin-bottom: 65px; }
.inner-banner .banner-text-wraper p{margin-bottom: 10px;text-transform: capitalize;}

/* sales */
.sales-gallery-img-wraper { position: relative; padding-bottom: 100%; margin-bottom: 20px; }
.sales-gallery-img-wraper img { position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; object-fit: cover; }
.button-flex { display: flex; align-items: center; justify-content: space-between; }
.button-flex a.btn { padding: 18px 50px; font-size: 14px; }
.sales-gallery-sec .col-lg-4 { margin-bottom: 60px; }

/* contact page */
.form-group { margin-bottom: 30px; }
.form-group input { background: #FFFFFF; border: 1px solid #9A9A9A; height: 65px; border-radius: 0; padding: 20px; }
.form-group textarea { background: #FFFFFF; border: 1px solid #9A9A9A; height: 172px; border-radius: 0; padding: 20px; }
.contact-form-wrap { max-width: 1040px; margin: auto; }
.form-group .form-control:focus{box-shadow: none;border: 1px solid #FB8951;}

/* shop */

.shop-gallery-img-wrap { position: relative; padding-bottom: 100%; margin-bottom: 20px; }
.shop-gallery-img-wrap img { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; object-fit: cover; }
.shop-gallery-content h4 { margin-bottom: 10px; }
.shop-gallery-content p { margin-bottom: 0px; font-weight: 500; color: #000; }
.shop-gallery .row .col-lg-4{margin-bottom: 50px;}
.shop-gallery-content h4 a{color: #000;}

/* gallery */
.gallery-img-wraper { position: relative; padding-bottom: 100%; }
.gallery-img-wraper img { position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; object-fit: cover; }
/* .gallery-sec .row .col-md-4 { margin-bottom: 20px; } */
.gallery-sec .overlay { display: none; position: fixed; z-index: 999; background: rgba(0, 0, 0, 0.8); top: 0; width: 100%; height: 100%; margin: 0; left: 0;right: 0px;}
.gallery-sec .overlay .big-pic { background: white; border-radius: 5px; max-width: 600px; margin: 100px auto; padding: 10px 10px 30px; }
.gallery-sec .overlay .big-pic img { width: 100%; }
.gallery-sec .overlay .big-pic .photo-title { font-family: Arial; margin-top: 1em; text-align: left; }
.gallery-sec .overlay .close { position: absolute; top: 20px; right: 20px; width: 30px; height: 30px; font-size: 20px; color: white; display: block; cursor: pointer; font-family: Arial; }
/* .gallery-sec .gallery { margin: 50px 100px; } */
.gallery-sec .gallery .picture-container { width: 100%; overflow: hidden; display: inline-block; margin: 10px; }
.gallery-sec .gallery .picture-container .picture { width: 100%; cursor: pointer; display: block; transition: all 0.5s ease; }
.gallery-sec .gallery .picture-container .picture:hover { transform: scale(1.1); }
.gallery-sec{position: relative;}

/* footer */
footer.main-footer { background-color: #000; }
.footer-info img { width: 95px; margin-bottom: 20px; }
.footer-info p { color: #fff; max-width: 339px; }
.footer-info ul { padding: 0; margin: 0; }
.footer-info ul li { padding-bottom: 10px; }
.footer-info ul li a { color: #fff; }
.footer-info h4 { color: #fff; font-family: 'Jost', sans-serif; }
.copy-right { border-top: 1px solid #D9D9D9; padding-top: 30px; margin-top: 30px; }
.copy-right p { color: #fff; margin-bottom: 0px; }

/* search */
.search-flex input.form-control { border-radius: 0; }
.search-flex { display: flex; max-width: 900px; margin: auto; }
.search-img-wrap { position: relative; padding-bottom: 70%; margin-bottom: 20px; }
.search-img-wrap img { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; object-fit: cover; }
.search-card .row .col-lg-4{margin-bottom: 20px;}
.search-flex input:focus{box-shadow: none;}



/*Media Query css*/

@media only screen and ( min-width:1366px ) {
    .container { max-width: 1300px;}
}

@media only screen and ( max-width: 1366px ) {
    h1 { font-size: 73px; }
    h2 { font-size: 45px; }
    h3 { font-size: 26px; }
    .banner-text-wraper p { font-size: 30px; margin-bottom: 38px; }
    .shop-price{font-size: 20px;}
    .our-story-logo { width: 115px; }
    .button-flex a.btn { padding: 15px 34px; }
}



@media only screen and ( max-width: 1280px ) {
    p{font-size: 16px;}
    h2 { font-size: 40px; }
    .main-menu ul li { font-size: 16px; margin-right: 24px; }
    .logo { width: 130px; height: 130px;}
    .logo a { width: 65px; height: 65px; }
    .our-story-content { padding-left: 0px; }
    .btn { padding: 15px 40px; font-size: 16px; }
    .common-padd { padding-top: 80px; padding-bottom: 80px; }
    .padding-bottom{padding-bottom: 80px;}
    .footer-info ul li a{font-size: 16px;}
    .footer-info ul li { padding-bottom: 4px; }
    .banner-text-wraper p { font-size: 24px; margin-bottom: 21px; }
    .button-flex a.btn { padding: 10px 15px; font-size: 13px; }
}


@media only screen and ( max-width:1199px ) {
     h3 { font-size: 23px; }
    .nav_btn { display: block; cursor: pointer; line-height: 1; margin-left: 10px;position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
    .nav_close { display: block; position: absolute; top: 20px; right: 30px; z-index: 999; font-size: 30px;}
    .main-menu { position: fixed; transform:translateX(320px); right: 0; top: 0; bottom: 0; z-index: 999; max-width: 320px; box-shadow: 4px 0 27px rgba(0, 0, 0, 0.11); background-color: #fb8951; padding-top: 28px; margin:0; display:block; width: 100%; padding-left: 10px; transition: 250ms ease-in;}
    .main-menu ul li { width: 100%; }
    .main-menu ul li:not(:last-child) { margin-right: 0; }
    .main-menu ul li a { display: block; padding: 10px; }
    /* .for-desktop { display: none; } */
    .for-desktop { padding-right: 70px; }
    .our-story-second-img { width: 370px; }
    .our-story-logo { width: 74px;top: 1%; }
    .banner-text-wraper h1 { max-width: 100%;}
    .home-banner-img-wraper { padding-bottom: 65%; }
    .cha-img-wraper img { margin-left: 17px; margin-top: -17px; }
    .cha-col-sec{margin-right: 10px;}
    .cha-col-sec a.learn-more{font-size: 16px;}
    .main-menu ul li a{color: #fff;}
    .logo { width: 115px; height: 115px; }
    .logo a { width: 55px; height: 55px; }
}
@media only screen and ( max-width: 1024px ) {
   

}
@media only screen and ( max-width: 991px ) {
    h1 { font-size: 57px; }
    .banner-text-wraper h1 { max-width: 100%; margin-bottom: 28px; }
    .our-story-second-img { width: 512px; }
    .our-story-img-wraper { margin-top: 50px; }
    .our-story-logo { width: 110px; }
    .shop-content p { height: 230px;}
    .Shop-Donate-sec .row .col-lg-3{margin-bottom: 30px;}
    .common-padd { padding-top: 40px; padding-bottom: 40px; }
    .padding-bottom{padding-bottom: 40px;}
    .for-desktop { padding-right: 46px; }
    .form-group input{height: 50px;}
    .form-group textarea{height: 140px;}
    .form-group { margin-bottom: 18px; }
}
@media only screen and ( max-width: 767px ) {
    h1 { font-size: 44px; }
    h2 { font-size: 35px; }
.Charities-sec .row .col-lg-4:last-child{margin-bottom: 0px;}
.btn { padding: 10px 16px; font-size: 14px; }
.our-story-second-img { width: 410px; }
.our-story-logo { width: 85px; }
.Charities-sec .row { margin-top: 50px; }
.shop-content p { height: auto; margin-bottom: 20px; }
.shop-donate-col-wrap a.btn.btn-org { position: relative; bottom: 0; }
.footer-info p { color: #fff; max-width: 100%; }
footer.main-footer { text-align: center; }
.footer-info h4 { margin-bottom: 12px; }
.footer-info{margin-bottom: 20px;}
/* .inner-banner .home-banner-img-wraper { padding-bottom: 50%; } */
.our-story-main .our-story-content { padding-left: 0; margin-top: 20px; }
.shop-gallery .row .col-lg-4:last-child, .sales-gallery-sec .col-lg-4:last-child{margin-bottom: 0px;}

}
@media only screen and ( max-width: 600px ) {
    h1 { font-size: 37px; }
    .home-banner-img-wraper { padding-bottom: 80%; }
    .main-header.fixed{padding: 0;}
    .our-story-second-img { width: 382px; }
    .home-banner-img-wraper { padding-bottom: 100%; }
    .banner-text-wraper h1 { margin-bottom: 10px; }
    .banner-text-wraper p { font-size: 20px; }
    .main-header{padding: 12px 0px;}
    .logo { width: 90px; height: 90px; }
    .logo a { width: 50px; height: 50px; }
}
@media only screen and ( max-width: 480px ) {
    .our-story-second-img { width: 280px; }
    .cha-img-wraper img { margin-left: 10px; margin-top: -10px; }

}

/*Media Query css*/




